body {
    height: 100%;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.text-left {
    text-align: left;
}

.text-black {
    color: #000000;
}

.padding-top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.font-size-18 {
    font-size: 18px;
}

.remove-link-font {
    text-decoration: none;
    color: #fff;
}